<h3>Sign Up</h3>

<form action='customers/signup' method='POST'>
    <input type='text' name='username' placeholder='Username:'>
    <input type='password' name='paswword' placeholder='Password:'>
    <input type='submit' value='Sign Up'> 
    
</form> 